CS/Lab4/Code/in-out/xml/jopa.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServiceDevelopmentPlan" targetNamespace="http://dp.minregion.ru/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:tns="http://dp.minregion.ru/" 
xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pd.minregion.ru/Imports">
      <xsd:import schemaLocation="../xsd/RequestDataServiceDevelopmentPlan.xsd" namespace="http://dp.minregion.ru/"/>
      <xsd:import schemaLocation="../xsd/ResultServiceDevelopmentPlan.xsd" namespace="http://dp.minregion.ru/"/>
      <xsd:import schemaLocation="../xsd/AppliedDocuments.xsd" namespace="http://smev.gosuslugi.ru/request/rev111111"/>
      <xsd:import schemaLocation="../xsd/messageServiceDevelopmentPlan.xsd" namespace="http://dp.minregion.ru/"/>
      <xsd:import schemaLocation="../xsd/SmevTypes.xsd" namespace="http://smev.gosuslugi.ru/rev111111"/>
      <xsd:import schemaLocation="../xsd/catalog/xop-include.xsd" namespace="http://www.w3.org/2004/08/xop/include"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestMessage">
    <wsdl:part name="parameters" element="tns:RequestMessage"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage_Headers">
    <wsdl:part name="Header" element="q1:Header" xmlns:q1="http://smev.gosuslugi.ru/rev111111"/>
  </wsdl:message>
  <wsdl:message name="ResponseMessage">
    <wsdl:part name="parameters" element="tns:ResponseMessage"/>
  </wsdl:message>
  <wsdl:message name="ResponseMessage_Headers">
    <wsdl:part name="Header" element="q2:Header" xmlns:q2="http://smev.gosuslugi.ru/rev111111"/>
  </wsdl:message>
  <wsdl:portType name="ServiceDevelopmentPlan">
    <wsdl:operation name="GetDevelopmentPlan">
      <wsdl:input wsaw:Action="http://dp.minregion.ru/ServiceDevelopmentPlan/GetDevelopmentPlan" name="RequestMessageGetDevelopmentPlan" message="tns:RequestMessage"/>
      <wsdl:output wsaw:Action="http://dp.minregion.ru/ServiceDevelopmentPlan/GetDevelopmentPlanResponse" name="ResponseMessageGetDevelopmentPlan" message="tns:ResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://dp.minregion.ru/ServiceDevelopmentPlan/GetState" name="RequestMessageGetState" message="tns:RequestMessage"/>
      <wsdl:output wsaw:Action="http://dp.minregion.ru/ServiceDevelopmentPlan/GetStateResponse" name="ResponseMessageGetState" message="tns:ResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceDevelopmentPlan" type="tns:ServiceDevelopmentPlan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDevelopmentPlan">
      <soap:operation soapAction="http://dp.minregion.ru/ServiceDevelopmentPlan/GetDevelopmentPlan" style="document"/>
      <wsdl:input name="RequestMessageGetDevelopmentPlan">
        <soap:header message="tns:RequestMessage_Headers" part="Header" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ResponseMessageGetDevelopmentPlan">
        <soap:header message="tns:ResponseMessage_Headers" part="Header" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
	<soap:operation soapAction="http://dp.minregion.ru/ServiceDevelopmentPlan/GetState" style="document"/>
      <wsdl:input name="RequestMessageGetState">
        <soap:header message="tns:RequestMessage_Headers" part="Header" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ResponseMessageGetState">
        <soap:header message="tns:ResponseMessage_Headers" part="Header" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDevelopmentPlan">
    <wsdl:port name="BasicHttpBinding_ServiceDevelopmentPlan" binding="tns:BasicHttpBinding_ServiceDevelopmentPlan">
      <soap:address location="http://localhost/ServiceDevelopmentPlan.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>